<div class="users_info" ng-controller="usersController">
	<h1>Users</h1>
	<label for='filter_user'>Filter:</label>
	<input type='text' ng-model='filter_name' placeholder='Filter..'>
	<div class="all_users" ng-repeat="user in users | filter:filter_name">
		<h3>
			<a ng-click='showProfile(user.id)' href="#/profile/{{user.id}}">{{user.last_name}}, <span>{{user.first_name}}</span></a>
		</h3>
		<h5>Contact: <span>{{user.email}}</span></h5>
		<h5>Nickname: <span>{{user.nickname}}</span></h5>
		<h5>Department: <span>{{user.department}}</span></h5>
	</div>
</div>